@charset "utf-8";

/* skip navi */
.skip_navi .skip_wrap a {
	position: absolute;
	left: -9999%;
	top: 0;
	z-index: 150;
	width: 100%;
	padding: 6px 0;
	text-align: center;
	background-color: #333;
	color: #fff;
	transition:
}
.skip_navi .skip_wrap a:focus {
	left: 0;
}
.skip_navi .skip_wrap a.menu {
	z-index: 10;
}

/* header */
#header {
	min-width: 1030px;
}
#header .upper {
	position: relative;
	margin: 0 auto;
	width: 1030px;
	height: 90px;
}
#header .upper .logo {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -80px;
	width: 160px;
	height: 70px;
}
#header .upper .sns {
	float: left;
	margin-top: 30px;
}
#header .upper .sns .social {
	display: inline-block;
}
#header .upper .sns .social li {
	display: inline-block;
	position: relative;
}
#header .upper .sns .social li img.over {
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#header .upper .sns .social li a:hover img.over,
#header .upper .sns .social li a:focus img.over {
	opacity: 1;
}
#header .upper .sns .btn {
	display: inline-block;
	position: relative;
	margin-left: 18px;
}
#header .upper .sns .btn img.over {
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#header .upper .sns a:hover img.over,
#header .upper .sns a:focus img.over {
	opacity: 1;
}
#header .upper .util {
	float: right;
}
#header .upper .util li {
	display: inline-block;
	position: relative;
}
#header .upper .util li a {
	display: block;
	padding: 0 15px;
	line-height: 90px;
	font-size: 0.875em;
	color: #777e84;
}

/* nav */
#nav .menu {
	margin: 0 auto;
	width: 1030px;
	height: 60px;
	text-align: center;
}
#nav > .menu > ul{
	position: absolute;
	left: 0;
	z-index: 200;
	width: 100%;
	min-width: 1030px;
	height: 60px;
	overflow: hidden;
	background-color: #fff;
	transition: height 0.3s;
}
#nav > .menu > ul::after {
	content: "";
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #a19fa0;
}
/* #nav > .menu > ul:hover,
#nav > .menu > ul:focus { */
#nav > .menu > ul.over {
	height: 250px;
}
#nav > .menu > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#nav > .menu > ul > li > a::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -20%;
	margin-bottom: -5px;
	width: 0;
	height: 10px;
	background-color: rgba(181, 37, 46, 0.5);
	transition: width 0.3s;
}
#nav > .menu > ul > li:hover > a::before,
#nav > .menu > ul > li:focus > a::before,
#nav > .menu > ul > li > a.over::before {
	width: 40%;
}
#nav > .menu > ul > li > a {
	display: block;
	padding: 0 55px;
	line-height: 60px;
	font-size: 1em;
	font-weight: 400;
	color: #302f2d;
	transition: color 0.3s;
}
#nav .menu ul ul {
	position: absolute;
	left: 50%;
	margin-left: -50%;
	width: 100%;
}
#nav .sub li a {
	display: block;
	padding: 5px 0;
	font-size: 0.875em;
	color: #a19fa0;
	transition: all 0.3s;
}
#nav .sub li a:hover,
#nav .sub li a:focus {
	color: #000;
	text-decoration: underline;
}

/* keyvisual */
.keyvisual {
	position: relative;
	width: 100%;
	height: 500px;
	/* margin-top: 60px; */
	min-width: 1030px;
	overflow: hidden;
}
.keyvisual .keyimage {
	position: absolute;
	left: 0;
	width: 600%;
	height: 500px;
	transition: left 0.3s;
}
.keyvisual .keyimage li {
	position: relative;
	float: left;
	width: 16.666%;
	height: 500px;
	overflow: hidden;
}
.keyvisual .keyimage li img {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -953px;
}
.keyvisual .arrow a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -43px;
	width: 44px;
	height: 86px;
}
.keyvisual .arrow a.left {
	left: 100px;
}
.keyvisual .arrow a.right {
	right: 100px;
}

/* section */
#section {
	min-width: 1030px;
}
#section .section_inner {
	margin: 0 auto;
	width: 1030px;
	margin-top: 72px;
}
#section .section_inner::before,
#section .section_inner::after {
	content: "";
	display: block;
}
#section .section_inner::after {
	clear: left;
}
/* buttero */
#section .buttero::before,
#section .buttero::after {
	content: "";
	display: block;
}
#section .buttero::after {
	clear: left;
}
#section .buttero_image {
	float: left;
	width: 690px;
	height: 388px;
	overflow: hidden;
}
#section .buttero_image a { /* focus */
	display: block;
	width: 690px;
	height: 388px;
}
#section .buttero_image a img {
	transition: transform 0.3s;
}
#section .buttero_image a:hover img,
#section .buttero_image a:focus img {
	transform: scale(1.05);
}
#section .buttero_text {
	float: right;
	width: 300px;
	height: 388px;
	text-align: center;
	border: 2px solid #a0a0a0;
}
#section a.buttero_txt { /* focus */
	display: block;
	padding-top: 80px;
	width: 300px;
	height: 388px;
	transition: all 0.3s;
}
#section a.buttero_txt h4 {
	font-size: 2em;
	color: #454346;
}
#section a.buttero_txt span {
	color: #423b2b;
}
#section a.buttero_txt p {
	margin-top: 40px;
	color: #a0a1a5;
}
#section a.buttero_txt:hover p,
#section a.buttero_txt:focus p {
	text-decoration: underline;
}
#section a.buttero_txt span.button {
	display: inline-block;
	padding: 10px 35px;
	margin-top: 45px;
	text-decoration: underline;
	color: #31312f;
	transition: all 0.3s;
}
#section a.buttero_txt:hover span.button,
#section a.buttero_txt:focus span.button {
	text-decoration: none;
	color: #fff;
	background-color: #b5252e;
}
/* atclip */
#section .atclip {
	margin-top: 34px;
}
#section .atclip::before,
#section .atclip::after {
	content: "";
	display: block;
}
#section .atclip::after {
	clear: left;
}
#section .atclip_text {
	float: left;
	width: 300px;
	height: 388px;
	text-align: center;
	border: 2px solid #a0a0a0;
}
#section a.atclip_txt { /* focus */
	display: block;
	padding-top: 80px;
	width: 300px;
	height: 388px;
	transition: all 0.3s;
}
#section a.atclip_txt h4 {
	font-size: 2em;
	color: #454346;
}
#section a.atclip_txt span {
	color: #423b2b;
}
#section a.atclip_txt p {
	margin-top: 40px;
	color: #a0a1a5;
}
#section a.atclip_txt:hover p,
#section a.atclip_txt:focus p{
	text-decoration: underline;
}
#section a.atclip_txt span.button {
	display: inline-block;
	padding: 10px 35px;
	margin-top: 45px;
	text-decoration: underline;
	color: #31312f;
	transition: all 0.3s;
}
#section a.atclip_txt:hover span.button,
#section a.atclip_txt:focus span.button {
	text-decoration: none;
	color: #fff;
	background-color: #b5252e;
}
#section .atclip_image {
	float: right;
	width: 690px;
	height: 388px;
	overflow: hidden;
}
 #section .atclip_image a { /* focus */
	display: block;
	width: 690px;
	height: 388px;
 }
#section .atclip_image a img {
	transition: transform 0.3s;
}
#section .atclip_image a:hover img,
#section .atclip_image a:focus img {
	transform: scale(1.05);
}

/* left */
.bottom {
	margin: 0 auto;
	width: 1030px;
	margin-top: 30px;
}
.bottom::before,
.bottom::after {
	content: "";
	display: block;
}
.bottom::after {
	clear: left;
}
.left {
	float: left;
}

/* heich */
.left .heich_area {
	position: relative;
	width: 495px;
	height: 570px;
}
.left a.heich {
	display: block;
	width: 495px;
	height: 570px;
}
.left .heich_txt {
	position: absolute;
	top: 400px;
	left: 20px;
}
.left .heich_txt p {
	color: #fff;
}
.left .heich_txt h4 {
	font-size: 2em;
	font-weight: 700;
	color: #fff;
}
.left .heich_txt span.button {
	display: inline-block;
	padding: 15px 20px;
	margin-top: 25px;
	font-size: 0.875em;
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.3s;
}
.left a.heich:hover span.button,
.left a.heich:focus span.button {
	color: #000;
	background-color: #fff;
	border: none;
}

/* new */
.left .new {
	position: relative;
	margin-top: 30px;
	text-align: center;
}
.left .new a img {
	background: url(../images/new2.jpg) no-repeat center center;
	transition: background 0.3s;
}
.left .new a:hover img,
.left .new a:focus img {
	background: url(../images/limi.png) no-repeat center center;
}
.left .new a .new_txt {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	color: #434345;
	transition: all 0.3s;
}
.left .new a:hover .new_txt,
.left .new a:focus .new_txt {
	color: #fff;
}
.left .new a .new_txt h4 {
	font-size: 3em;
	font-weight: 700;
}
.left .new a .new_txt span.button {
	display: inline-block;
	padding: 15px 40px;
	margin-top: 35px;
	font-size: 0.875em;
	font-weight: 800;
	background-color: #434345;
	color: #fff;
}
.left .new a:hover span.button,
.left .new a:focus span.button {
	background-color: #fff;
	color: #b5252e;
}
.right {
	float: right;
}
/* sale */
.right .sale_cont {
	text-align: center;
}
.right a.sale {
	display: block;
	width: 495px;
	height: 300px;
	background: url(../images/sale1.jpg) no-repeat center center;
	color: #434345;
	border: 2px solid #a0a0a0;
	transition: all 0.3s;
}
.right a.sale:hover,
.right a.sale:focus {
	background: url(../images/lookbook.png) no-repeat center center;
	color: #fff;
}
.right .sale_cont h4 {
	padding-top: 55px;
	font-size: 3em;
	font-weight: 700;
}
.right .sale_cont span.button {
	display: inline-block;
	padding: 12px 30px;
	margin-top: 35px;
	font-size: 0.875em;
	font-weight: 700;
	background-color: #434345;
	color: #fff;
}
.right a.sale:hover span,
.right a.sale:focus span {
	background-color: #b5252e;
}
/* mimic */
.right .mimic_area {
	position: relative;
	margin-top: 30px;
	width: 495px;
	height: 570px;
}
.right .mimic_area a {
	display: block;
	width: 495px;
	height: 570px;
}
.right .mimic_txt {
	position: absolute;
	top: 400px;
	left: 20px;
}
.right .mimic_txt p {
	color: #fff;
}
.right .mimic_txt h4 {
	font-size: 2em;
	font-weight: 700;
	color: #fff;
}
.right .mimic_txt span.button {
	display: inline-block;
	padding: 15px 20px;
	margin-top: 25px;
	font-size: 0.875em;
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.3s;
}
.right a.mimic:hover span,
.right a.mimic:focus span {
	color: #000;
	background-color: #fff;
	border: none;
}

/* footer */
.info {
	margin-top: 60px;
	background-color: #eee;
}
.info .info_inner {
	margin: 0 auto;
	width: 1030px;
	padding: 20px 0;
	text-align: center;
}
.info .info_inner::before,
.info .info_inner::after {
	content: "";
	display: block;
}
.info .info_inner::after {
	clear: both;
}
.info .list {
	float: left;
}
.info .list li {
	display: inline-block;
}
.info .list li a {
	display: block;
	padding: 5px 5px 0 5px;
	font-size: 0.875em;
	color: #333;
}
.info .list li a.bold {
	font-weight: bold;
}
.info .icon {
	float: right;
}
.info .icon li {
	display: inline-block;
}
.info .icon li a {
	display: block;
	margin: 0 10px;
	padding-top: 2px;
	width: 30px;
	height: 30px;
	color: #333;
	border-radius: 15px;
	border: 2px solid #333;
}
#footer {
	padding: 45px 0;
	min-width: 1030px;
	background-color: #333;
}
#footer .footer_inner {
	margin: 0 auto;
	width: 1030px;
	text-align: center;
}
#footer .footer_inner .address {
	font-size: 0.875em;
	font-weight: 300;
	line-height: 22px;
	color: #eee;
}
#footer .footer_inner .address span.bold {
	font-weight: bold;
}
